[2015-12-18 19:36] denis-yuen opened #1 "Code generation from avro"
Hi,

@pgrosu
@tetron

I'm going to sketch out how code generation from the CWL avro schema worked for me and then link to the code where I actually do it (and test it). Feel free to borrow/copy liberally. Manually creating the Java classes could not have been easy. Hopefully this should save some time for future me/you when migrating to draft4, etc.

## Generating classes

The procedure for genera

[2015-12-19 04:04] pgrosu commented on #1
Hi Denis,

I really appreciate it for helping out with this, and am still working through the details.

Thank you,
Paul

[2016-01-11 21:29] denis-yuen commented on #1
I've checked in the code generation process as a Travis-CI demo
(see https://travis-ci.org/common-workflow-language/cwljava ) and the resulting generated code in at https://github.com/common-workflow-language/cwljava/tree/master/WIP/alternative

[2016-01-11 21:29] #1 closed

[2016-01-12 00:17] kellrott opened #3 "GPL?"
https://github.com/common-workflow-language/cwljava/blob/master/WIP/alternative/src/main/java/Utilities.java#L4

Should the whole package be under Apache, like the cwltool? It may be problematic to have portions under GPL.

[2016-01-12 00:20] pgrosu commented on #1
Thanks :)

[2016-01-12 15:50] denis-yuen commented on #3
I don't feel strongly about this so if Apache is preferable, then sure.

[2016-01-14 07:07] kellrott opened #6 "Selecting an implementation"
I've refactored both WIP in branches into more organized projects.  #4 for the branch and @denis-yuen #5 for the branch by @pgrosu
#4 compiles, but it looks like #5 has issues with method overriding (I had a similar issue with the scala attempt)

[code]

[2016-01-14 15:41] denis-yuen commented on #6
I'll take a look at the branch for #4. I may move it into a new branch inside the repo (from your organization) so I can work on it (saw some build errors on travis-ci to resolve) without forking it. I've added you as a collabroator on this project so you shouldn't need to fork in the future.

[2016-01-14 16:20] denis-yuen commented on #6
FYI, I've fixed the tests and the travis-CI build with #4
I saw that #5 was going to develop and #4 to master, are we going with HubFlow? https://datasift.github.io/gitflow/IntroducingGitFlow.html :+1:

[2016-01-14 18:12] kellrott commented on #6
Until we decide on which way we're going, we should have both in different branches. It'll make it easier to to development and comparisons. The assignment of one to master and the other to develop was arbitrary.

[2016-01-14 18:13] kellrott commented on #3
This was resolved in https://github.com/common-workflow-language/cwljava/pull/4

[2016-01-14 18:13] #3 closed, assigned to nobody

[2016-01-14 18:24] kellrott commented on #6
I'd prefer to stick closer to the existing software (ie the Avro tools) rather then be responsible for our own build. However, I do like that @pgrosu included a build project to make the code generation part of the source tree.

@pgrosu's version is pretty streamlined, but the pure Avro version does include some additional builder methods and some additional attached meta-data about the scheme whi

[2016-01-14 20:22] pgrosu commented on #6
Hi Kyle (@kellrott),

Thank you for all the great help on this exciting project!  Here are just a few things:

1) It seems like you encountered the same issue, I previously discovered.  I submitted the following request last week on the CWL group e-mail list – titled _Request a minor change for OutputRecordField definition_ - and Peter (@tetron) is looking into it:

https://groups.google.com/forum

[2016-01-14 22:09] denis-yuen commented on #6
Hi,

My preference generally is to re-use maintained code where possible unless a compelling reason not to comes up and to break up multi-functional components into "small sharp tools."

Here, there are four main tasks that I think our two approaches demonstrate:
1. converting from the CWL specification (schema salad yml) to standard avro json schema
2. compiling the schema into Java classes
3. co

[2016-01-15 01:16] kellrott commented on #6
We can't really 'agree on an interface', because there is very little that can be done avro generated code (unless we stack in a lot of post processing, but that kind of defeats the purpose). The question is, would @pgrosu move his generator close to what the Avro one creates.

I'm hoping we can started on the file parser soon. Which means we should settle this quickly. But maybe we should hear fr

[2016-01-15 08:51] mr-c commented on #6
Can someone generate an API diff or point me to some javadocs to view side
by side?

Most of you are probably aware that GA4GH is moving off of Avro to protocol
buffers (which have a json serialization). I'm not advocating the same
change for CWL due to the power of our support for linked data but this
gives me pause about Avro.
Of course I want to leverage as much existing infrastructure and tool

[2016-01-15 15:36] denis-yuen commented on #6
I probably misinterpreted something about the scope of what people want to accomplish.

@kellrott I think in its simplest form, you'd only need two methods. One to serialize (not in my list so far) CWL documents and one to de-serialize (3 and 4 in my list) CWL documents.

For a file parser, are you referring to something other than de-serialization (i.e. creating instances of the generated classes

[2016-01-15 17:33] kellrott commented on #6
Yes, @denis-yuen, the first step is to make sure we have methods de-serialize CWL documents into the classes generated by the schema. If you have something in the works, awesome.
Once that is done, we can start building the java cwltool to open the documents with an input and start building the command lines.
I had done some work to get the scala cwl test to run under the CWL compliance test (and

[2016-01-15 19:24] briandoconnor commented on #6
Let's have a zoom.us call with interested parties sometime early next week.  If you want to participate please fill out this Doodle poll:

http://doodle.com/poll/xpuw24ky6p7y8i7h

[2016-01-15 19:45] denis-yuen commented on #6
Narrowly, @kellrott deserialization (of CommandLineTools) is tested here https://github.com/common-workflow-language/cwljava/blob/develop/core/src/test/java/CWLClientTest.java#L75

More broadly, I think I better understand from the call that there's more than one topic here. I was envisioning a rather small SDK to read and write CWL files. Somewhat like how https://commons.apache.org/proper/common

[2016-01-15 21:00] kellrott commented on #6
@denis-yuen the larger goal would be a complete implementation, including example tool runner and library that could be used in JVM projects, like https://github.com/broadinstitute/cromwell
But the project should be put into coherent sub-modules, and one of them could just be the core classes and basic IO. Then the tool runner could be another sub-module.

[2016-01-15 21:02] denis-yuen commented on #6
That makes sense.

[2016-01-16 05:02] pgrosu commented on #6
@mr-c, I completed the JavaDoc for my SDK implementation, with the SDK included. People can download the zipped file at the following link:

[pgrosu-CWL_JavaDoc_and_SDK.zip](https://www.dropbox.com/s/1pssfiixhcwqllc/pgrosu-CWL_JavaDoc_and_SDK.zip?dl=1)

When you unzip the files, you will see the following two folders:
- JavaDoc
- SDK

If you proceed to the _JavaDoc_ folder, and double-click on the

[2016-01-18 17:12] mdmiller53 commented on #6
hi all,

a lot of great work.  just a couple of observations from a webapp java workflow implementation i did a few years ago here at ISB.  although there was an underlying model, i generated the equivalent java (essentially) bean classes by hand.  my 'language' was captured by spring XML configuration files that were remarkably similar to the json avro CWL schema (i would have happily used CWL if

[2016-01-19 17:18] pgrosu commented on #6
Hi Michael,

Those are awesome suggestions!  That brings back nice memories of a discussion we had on the flexibility of XML cross-references and their connections to graph theory.  We should be able to stream these settings and UI instantiations very easily, especially with JavaScript integration.  The whole ecosystem should be modular to allow components to talk to each other (i.e. distributed e

[2016-01-19 23:58] geoffjentry commented on #6
@pgrosu As a likely consumer of a java/scala based SDK I just wanted to comment on the java-vs-scala angle. If I were you all I wouldn't worry about maintaining both and just go with the java one. As a scala zealot it'd be trivial to write a little wrapper to scala it up.

My concern would be that unless the scala sdk was written by hand instead of autogenerated that it wouldn't be very scala-y an

[2016-01-20 17:17] mdmiller53 commented on #6
@pgrosu
i won't be able to make the call, but i'd be willing at some point to give a demo of my workflow implementation.  it indeed had the possibility of pausing.  i imagine people have looked at the workflow implementation [Pegasus](http://pegasus.isi.edu/), it has many cool run time features and flexibility

[2016-01-20 18:42] mr-c opened #9 "mvn javadoc:javadoc fails"
[code]

[2016-01-20 18:46] mr-c commented on #9
[code]

[2016-01-20 19:06] #9 closed, assigned to nobody

[2016-01-22 17:56] pgrosu commented on #6
@mdmiller53, no worries and apologize to reply so late as it has been a busy past few days.  Please, you are more than welcome to :)  I'm not sure if we looked at Pegasus but looking over the APIs across the languages, it's nice to see the same consistent names.

@geoffjentry Absolutely, less-is-more and the more we simplify the the core common functionality the easier it will be to port.  I think

[2016-01-22 20:41] mr-c opened #10 "accessing metadata"
See https://github.com/common-workflow-language/workflows/blob/master/tools/samtools-index.cwl

[2016-01-22 20:59] portah commented on #10
The other example (when metadata is stored in separate file)
https://github.com/common-workflow-language/workflows/blob/master/tools/samtools-faidx.cwl

[2016-01-26 18:55] pgrosu commented on #10
@portah, @tetron, @mr-c - You guys are gonna love this!  Andrey was very nice and gave me a lot of tutorials after our meeting today, which got me very excited.  I realized the power of RDF and Fuseki, which made me wonder if I can run it from the command-line directly - which will later on naturally lead to integrating it into the CWL Java SDK.  So check this out - and this is just from the Windo

[2016-01-26 19:22] mr-c commented on #10
Great news! :+1:

On Tue, Jan 26, 2016 at 8:55 PM Paul Grosu notifications@github.com wrote:

[2016-01-28 18:50] portah commented on #10
Yeap, you can use jena's files and code, However you have to have RDF files, means CWL has to be converted into RDF. And as I understand there is no JAVA code that can do that, yet.

[2016-01-31 20:31] pgrosu commented on #10
Hi Andrey,

Sorry to reply so late, but I was looking into this for the past few days.  I noticed that Jena has Java RDF reading-and-writing  capability - but I think we can do better:

https://jena.apache.org/documentation/io/

So opportunity knocks :smile:  So looking through this primer:

https://www.w3.org/TR/2014/NOTE-rdf11-primer-20140624

Then we can easily write a RDF writer as a Vertex->E

[2016-01-31 21:43] tetron commented on #10
At least initially it might be sufficient to include a "metadata" accessor on the generated objects that is a map holding any extension fields found on the object during load.  That would meet the minimum requirements that metadata is preserved.

[2016-01-31 22:34] pgrosu commented on #10
So like a graph object that can be traversed?  If so, that should be fairly easy.

[2016-02-16 16:56] stain opened #11 "Avoid cwltool dependency"
I tried building with `mvn clean install` and I got:

[code]

Why would I need to have `cwltool` installed (the Python implementation) if I am building the Java implementation? Surely the two should be independent..?

[2016-02-16 16:56] stain commented on #11
Might be related to #6  - I must admit I am still a bit confused here.. :)

[2016-02-16 17:02] pgrosu commented on #11
Hi Stain,

There were initially two versions.  What you are running is what is now under:

https://github.com/common-workflow-language/cwlavro

We will be updating what is under the following link to be the main version, which does not have any dependency on any other tool:

https://github.com/common-workflow-language/cwljava/tree/develop/WIP/paul

Hopefully within a week we'll have a PR to work f

[2016-02-18 18:06] stain commented on #11
OK, I think I'll have a look at cwlavro then.. I must admit I don't understand https://github.com/common-workflow-language/cwljava/tree/develop/WIP/paul as it's not structured as a Maven project.. :)

[2016-02-18 18:19] pgrosu commented on #11
We're working towards that direction :)  Kyle (@kellrott) made a nice PR (https://github.com/common-workflow-language/cwljava/pull/5) which I'll merge soon, but there is a lot of code update and simplification I am currently performing to have it Draft-3 compliant.  Very soon and sorry for the inconvenience.  I will ping you again once we're ready.

Thanks,
Paul

[2016-02-21 09:36] pgrosu opened #12 "A small issue about abstract and method definition"
@tetron So I have a small dilemma.  So `InputParameter` implements `Parameter` which is an interface since it's abstract.  If I have `Parameter` as an interface, then I have to have define the set methods for `type` called `settype` with the argument of the type `RecordSchema` in `InputParameter`.  But `InputParameter` specializes `RecordSchema` to `InputRecordSchema`.  The same applies for `EnumS

[2016-02-23 02:21] tetron commented on #12
Perhaps you could use Java generics to parameterize the interfaces?  See https://docs.oracle.com/javase/tutorial/java/generics/bounded.html

Otherwise you will need to go with option (1) and ignore the specializations.

[2016-02-23 04:03] pgrosu commented on #12
So I use the `CWLJava` implementation to also to test the draft specifications.  The issue with multiple bounds, is that then one can have complete freedom where undefined methods just pass, and are "disconnected" from their subclasses.  Here is an example:

1) A file named `UndefinedMethods.java` containing the following:

[code]

2) A file called `SuperClass.java` containing the following:

[cod

[2016-02-23 04:50] pgrosu commented on #12
And if I use the ampersand (&), where the type would need to be a subtype of all defined types, then in order to compile successfully I would still need to implement the methods in `UndefinedMethods.java` in `SubClass.java`, as shown below - so we're still left with option (1):

[code]

[2016-03-21 04:38] ThilinaManamgoda opened #13 "CWL tool discovery"
How to discover cwl tool in java workflow engine like Apache Taverna .Is  YAML parser  used to provide CWL file reading capability  .Then can i use that to get cwl tool configuration data(metadata).

[2016-03-21 05:39] pgrosu opened #14 "Official domain name question"
Hi @mr-c / @tetron

I am putting the new version into packages, and wanted to confirm that official domain name for CWL is the following:

[code]

If it is, then all packages will be under `org.commonwl`.

Thanks,
Paul

[2016-03-21 05:56] pgrosu commented on #13
@ThilinaManamgoda I might be mistaken, but I think @stain is implementing something along these lines for Apache Taverna.  The Yaml parser I wrote it to be used specifically to generate the dictionary of objects using the draft documents, for subsequently creating the SDK.  Based on @tetron recommendation it will be replaced by [snakeyaml](https://bitbucket.org/asomov/snakeyaml).  So yes you would

[2016-03-21 06:42] mr-c commented on #14
Yes, that is the official domain.
Pe 21 mar. 2016 05:39, "Paul Grosu" notifications@github.com a scris:

[2016-03-21 08:39] pgrosu commented on #14
Perfect. thanks Michael!

[2016-03-21 08:58] pgrosu opened #15 "Document preprocessing and resolution"
Hi Peter (@tetron),

Based on our discussion on Friday, Workflows would need this the most rather than CommandLineTools.   May I assume the client/runner that will read the CWL will most likely perform this?  If you could point me to some CWL files that utilizes this, that would be great.  The more files, the better, since the closest I could find were the following two inter-dependent ones:
- [sc

[2016-03-21 16:28] stain commented on #13
You are right, @pgrosu but I didn't get very far. - @ThilinaManamgoda is a potential GSOC 2016 student who want to help out with Taverna's CWL support, in particular to [Browse CWL tool descriptions](https://issues.apache.org/jira/browse/TAVERNA-880) -- so he would mainly need to inspect the CWL Tool descriptions and annotations. Would using snakeyaml directly be better, or would cwljava be a good

[2016-03-21 21:22] pgrosu commented on #13
Hi Stian,

It would not be fair for me to slow Thilina down while we optimize cwljava, so it would good if he uses snakeyaml for now.  The plus side is some of his code will probably trickle back to help cwljava when we convert fully to snakeyaml :)

~p

[2016-03-23 19:48] ThilinaManamgoda commented on #13
So it is a good idea to use Snakeyaml right ?

[2016-03-23 22:34] pgrosu commented on #13
I would say yes, since you are just looking at the tool description and annotation, not actually building up a complete CWL object model.   I wanted the RDF formatting for something like this to be done before you use it.  I am playing with ideas of representation in the object model, but just waiting on confirmation from @tetron on issue #15 that it's okay that this functionality be part of the c

[2016-03-24 18:32] ThilinaManamgoda commented on #13
Sorry for the late response .Thank you very much for explaining . i will come with more question little bit later .

[2016-03-24 18:47] pgrosu commented on #13
Sure thing, anytime.  My advice is to take a small amount of time to fully understand the CWL draft specifications, and let its core concepts dictate your implementation, as it will always be smaller.  Basically during your planning/implementation process, don't "fight" against the ideas with more code, as there is a natural dynamic structure behind how they are designed - both in name and definit

[2016-03-29 02:11] pgrosu commented on #12
@tetron Not sure the parameterized types approach works as cleanly as the previous.  We would need to define inner-classes which can make testing the draft implementation too flexible for correctness:

[code]

[2016-04-28 15:52] mr-c opened #16 "compare raw yaml dumps from Rabix, here, others"

[2016-04-28 17:05] pgrosu commented on #16
Thank you everyone for a great meeting today and for the help.  Below is a link to the gist of the Yaml output of the CommandLineTool populated object - including the source code that generated it:

https://gist.github.com/pgrosu/07a9e5c3fde3af824412c9e53a64e6d8

Hope it helps,
~p

[2016-05-01 17:29] ThilinaManamgoda commented on #13
Hi paul,
     So first task is to build the cwl parser .  i know that the first thing i should do is understand CWL draft specifications . Any suggestions regarding how i can approach this

[2016-05-02 02:27] stain commented on #13
I would try to build a "hello world" CWL workflow first according to the http://www.commonwl.org/draft-3/UserGuide.html - and then try it out with the `cwltool`.

Remember you will focus on the tool descriptions and its input/outputs, so then start reading http://www.commonwl.org/draft-3/CommandLineTool.html spec.

[2016-05-02 06:38] pgrosu commented on #13
Hi Thilina,

Let's break this into steps:
1. So CWL has two main ways of doing some work:

   a) Via a _CommandLineTool_: Where you can run the a command (i.e. Unix command) based on inputs/outputs
   b) Via a _Workflow_: As a series of steps (which could be CommandLineTool(s)) based on inputs/outputs to perform the intended outcome based on inputs.

The two above are detailed in the CWL Specifica

[2016-05-02 11:11] ThilinaManamgoda commented on #13
@stain  ok i will go through that document :) . @pgrosu Thank you very much :) i will go through these documents and back with more questions :)

[2016-05-02 12:55] mr-c commented on #13
Hello @ThilinaManamgoda , this is all decent advice though if you feel a bit overwhelmed that is normal.

What I suggest is that you only work with pre-processed CWL command line tool descriptions, such as those made by running `cwltool --print-pre ${FILENAME.cwl}`

Then load the resulting file with snakeyaml either using plain classes or the cwljava classes.

As an example, here is a YAML formatt

[2016-05-02 13:48] pgrosu commented on #13
@ThilinaManamgoda, I also agree with Michael's (@mr-c) recommended approach.

[2016-06-02 21:34] pgrosu opened #18 "Dynamic Graph Workflows Concept"
Hi Andrey (@portah),

To better illustrate the ideas I was envisioning the other day, I put together a quick alpha implementation that can create dynamic input and command nodes, which can be connected and run dynamically.  I put this as a WIP under cwljava at the following location:

https://github.com/common-workflow-language/cwljava/tree/develop/WIP/Dynamic%20Graph%20Workflows

Let me know what

[2016-06-06 07:19] ThilinaManamgoda commented on #13
@pgrosu now I have clear idea what I have to do, it is figure out the inputs and outputs whether there are single argument or array or array of arrays. Because that's one of the main requirement of Taverna workbench when considering the GUI representation of the CWL tool. Any comments on this ?

[2016-06-06 14:03] pgrosu commented on #13
@ThilinaManamgoda Are you wondering about how to parse a file like [array-outputs.cwl](https://github.com/common-workflow-language/cwltool/blob/01e6bda1e3a5fe2fea338b73c2f789d3f8f1bac4/cwltool/schemas/draft-3/examples/array-outputs.cwl), how to create Java classes to populate such information or how to create a GUI to represent dynamic information such as this?

[2016-06-06 14:08] ThilinaManamgoda commented on #13
@pgrosu  what i want to know is dynamic these representations are . For example how many ways are there to define a input and also about the record type. here is my blog which will show you what i am doing now
http://maanadevgsoc2016.blogspot.com/

[2016-06-06 14:41] pgrosu commented on #13
@ThilinaManamgoda So many moons ago when I first started on writing up a GUI for CWL - before focusing on building the SDK - I noticed that the interface for a [CommandLineTool](http://www.commonwl.org/draft-3/CommandLineTool.html) and a [Workflow](http://www.commonwl.org/draft-3/Workflow.html) have some differences.  In any case, if you only care about inputs and outputs that might not be an issu

[2016-06-06 14:56] ThilinaManamgoda commented on #13
@pgrosu  thank you very much for explaining .

[2016-06-06 14:59] pgrosu commented on #13
@ThilinaManamgoda Gladly :)  I think it is a balance of a bit of a partial planning process for the complexity, with some trial-and-error regarding the visual representation.

[2016-06-07 22:13] pgrosu opened #19 "Step 1 (schema_salad -> UML)"
Hi Michael (@mr-c ),

To start the first step of the action items from here:

https://groups.google.com/forum/#!searchin/common-workflow-language/SCHEMA_salad$20uml/common-workflow-language/p0KltJPOdUU/He9eXerqIgAJ

Would an Eclipse plug-in such [ObjectAid](http://www.objectaid.com/) (demonstrated via this [YouTube video](https://www.youtube.com/watch?v=_Z3eIy5nRgQ)) with the output from CWLJava-p

[2016-06-08 09:09] mr-c commented on #19
Alas, no. We need to directly produce the UML from the schema salad model
of the specs. Perhaps you could modify your code to do that?

On Wed, Jun 8, 2016 at 12:13 AM, Paul Grosu notifications@github.com
wrote:

##

Michael R. Crusoe
Community Engineer & Co-founder
Common Workflow Language project
https://impactstory.org/u/0000-0002-2961-9670
michael.crusoe@gmail.com
+32 (0) 2 808 25 58
+1 480 62

[2016-06-08 16:17] pgrosu commented on #19
So there is a tool I found online called [UMLGraph](http://www.umlgraph.org/), which generates a [GraphViz](http://www.graphviz.org/) `dot` file via the command-line out of which, one would need to convert it to a `png`.  Below are the steps I performed, and the output of what it produced for CWLJava (which currently is all done through the command-line):

[code]

Below is the UML `graph.png` gene

[2016-06-08 17:11] mr-c commented on #19
The second step is UML-> [Java, Python, ...] source code, so while a image
is nice, a UML class diagram in a format usable by a code generation tool
is better.

On Wed, Jun 8, 2016 at 6:17 PM, Paul Grosu notifications@github.com wrote:

##

Michael R. Crusoe
Community Engineer & Co-founder
Common Workflow Language project
https://impactstory.org/u/0000-0002-2961-9670
michael.crusoe@gmail.com
+32 (

[2016-06-17 17:43] pgrosu commented on #19
@mr-c Sorry to reply so late, I thought I could finish it all in a day.  It's still being worked on :)

[2016-06-18 07:02] mr-c commented on #19
No worries Paul, thanks!
Pe 17 iun. 2016 19:43, "Paul Grosu" notifications@github.com a scris:

[2016-08-06 21:50] pgrosu opened #20 "Regarding the question mark notation"
@mr-c Can you help me please with pointing me to some documentation, where the question is described and how to interpret it?  For example, in [metaschema.yml on lines 170-171](https://github.com/common-workflow-language/common-workflow-language/blob/25784a9682b76df40dd3dcd529de8890043596b9/v1.0/salad/schema_salad/metaschema/metaschema.yml#L170-L171) I see the following:

[code]

Thanks,
Paul

[2016-08-08 09:23] mr-c commented on #20
Here you go: http://www.commonwl.org/v1.0/CommandLineTool.html#Document_preprocessing :-)

[2016-08-08 16:33] pgrosu commented on #20
Ah, very clear, thank you :)

[2016-08-08 16:33] #20 closed, assigned to nobody

[2018-01-19 03:25] pgrosu opened #21 "Yaml output of the instantiated CommandLineTool Object"
@mr-c I just did the following (thought I had to use `snakeyaml-1.19-android.jar` rather than the normal jar - the Program_Context is an instance of CommandLineTool:

[code]

Below is the output:

[code]

[2018-01-19 13:32] mr-c commented on #21
Interesting, so this will need updating to match the official syntax

Pe 18 ian. 2018 22:25, "Paul Grosu" <notifications@github.com> a scris:

[2020-06-11 11:57] #6 closed, assigned to nobody

[2020-06-11 11:57] #10 closed, assigned to nobody

[2020-06-11 11:57] #11 closed, assigned to nobody

[2020-06-11 11:57] #12 closed, assigned to nobody

[2020-06-11 11:57] #13 closed, assigned to nobody

[2020-06-11 11:57] #14 closed, assigned to nobody

[2020-06-11 11:57] #15 closed, assigned to nobody

[2020-06-11 11:57] #16 closed, assigned to nobody

[2020-06-11 11:57] #18 closed, assigned to nobody

[2020-06-11 11:57] #19 closed, assigned to nobody

[2020-06-11 11:57] #21 closed, assigned to nobody

[2020-10-20 18:29] mr-c opened #26 "Needs tests cases :-)"
Would be great if every CWL file from the [CWL v1.2 conformance tests](https://github.com/common-workflow-language/cwl-v1.2/blob/main/CONFORMANCE_TESTS.md) was loaded and checked for validity or the expected failure..

[2020-10-21 18:19] mr-c opened #27 "explore alternative schema with better ease of use for `hints`"
@jdidion suggests:

[2020-10-21 18:32] jdidion opened #28 "Incomplete $import support"
- [x] https://github.com/common-workflow-language/cwl-v1.2/blob/main/tests/params.cwl
- [x] https://github.com/common-workflow-language/cwl-v1.2/blob/main/tests/params2.cwl
- [x] https://github.com/common-workflow-language/cwl-v1.2/blob/main/tests/schemadef-tool.cwl
- [x] https://github.com/common-workflow-language/cwl-v1.2/blob/main/tests/imported-hint.cwl

A first guess is that this has somethin

[2020-10-21 18:34] jdidion opened #29 "Fails to parse conformance tests (ValidationException: Failed to match union type)"
- [x] https://github.com/common-workflow-language/cwl-v1.2/blob/main/tests/stage_file_array_basename_and_entryname.cwl
- [x] https://github.com/common-workflow-language/cwl-v1.2/blob/main/tests/docker-array-secondaryfiles.cwl
- [x] https://github.com/common-workflow-language/cwl-v1.2/blob/main/tests/optional-output.cwl
- [x] https://github.com/common-workflow-language/cwl-v1.2/blob/main/tests/reco

[2020-10-21 19:18] jdidion opened #30 "SchemaDefRequirement not parsed correctly"
Two tests from the conformance suite are not parsed correctly:

* https://github.com/common-workflow-language/cwl-v1.2/blob/main/tests/record-sd-secondaryFiles.cwl
* https://github.com/common-workflow-language/cwl-v1.2/blob/main/tests/anon_enum_inside_array_inside_schemadef.cwl

These tests both contain schemaDef requirements, but the parsed object (`CommandLineToolImpl.getRequirements`) does not

[2020-10-23 10:34] mr-c commented on #30
This is due to https://github.com/common-workflow-language/schema_salad/issues/349

[2020-10-23 10:37] mr-c commented on #29
These are all due to https://github.com/common-workflow-language/schema_salad/issues/349 ( lack of support in the codegen classes for the new way we represent secondaryFiles in the CWL v1.1+ schema)

[2020-10-23 10:41] mr-c commented on #28
Yes, the python classes have explicit support for $import, but the java classes ~~don't seem to~~ only handle `$import` in certain places.

The first two will likely also trigger https://github.com/common-workflow-language/schema_salad/issues/349 (not yet supporting default values in the codegen classes)

https://github.com/common-workflow-language/cwl-v1.2/blob/main/tests/schemadef-tool.cwl loads

[2020-10-27 13:47] mr-c commented on #28
@jdidion which CWL document is that stack trace for?

[2020-10-27 13:48] jdidion commented on #28
params.cwl

[2020-10-27 13:55] mr-c commented on #28
@jdidion Does the following fix the problem?

[code]

[2020-11-18 13:49] jdidion opened #31 "Fails to parse requirements correctly"
When I parse this workflow, the resulting `CommandLineToolImpl` contains two copies of the `InlineJavascriptRequirement`.

[code]

[2020-11-18 14:44] mr-c commented on #31
Interesting! The Python parser does not have this bug..

[2020-11-19 12:48] mr-c commented on #31
Okay, I can confirm the bug on the Java side

[code]

[2020-11-19 15:10] mr-c commented on #31
The reason is that
1) the Java loaders do not verify the value of the `class` field, and since `InlineJavascriptRequirement` has no mandatory fields, it erroneously accepts the `InitialWorkDirRequirement` map

Compare https://github.com/common-workflow-lab/cwljava/blob/952d107fb26d77a94d043f4668a1eeee83952ce0/src/main/java/org/w3id/cwl/cwl1_2/InlineJavascriptRequirementImpl.java#L83 to https://git

[2020-11-19 18:05] mr-c commented on #31
Fixes are inbound:
https://github.com/common-workflow-lab/cwljava/pull/32
https://github.com/common-workflow-language/cwl-v1.2/pull/62
https://github.com/common-workflow-language/schema_salad/pull/362

[2020-11-20 12:16] mr-c commented on #30
Fixed in https://github.com/common-workflow-lab/cwljava/pull/32

[2020-11-20 12:16] #30 closed, assigned to nobody

[2020-11-20 13:03] mr-c commented on #31
Fixed in #32 and test added in #34

[2020-11-20 13:03] #31 closed, assigned to nobody

[2020-11-20 13:17] mr-c commented on #29
Some of these were fixed in #32 and confirmed in #34 , so I've marked them as such

[2020-11-20 13:26] mr-c commented on #28
Note that https://github.com/common-workflow-language/cwl-v1.2/blob/main/tests/import_schema-def.cwl does parse, so it may be the position of the`$import` that is the problem

[2020-11-20 13:26] mr-c commented on #26
Done in #34 !

[2020-11-20 13:26] #26 closed, assigned to nobody

[2020-11-20 15:22] jdidion commented on #29
I can confirm those tests were fixed, but it also looks like some that were previously passing are now broken:

[list moved to original post]

[2020-12-14 14:40] jdidion opened #36 "No way to access custom metadata"
CWL provides the ability to use custom metadata via `$namespace`s. However, the objects generated by the Java parser do not contain the metadata, or at least there's no method by which to access it.

[2021-01-06 17:07] jdidion opened #37 "Workflows are not parsed correctly"
I tried to parse `count-lines1-wf.cwl` but I get back a `CommandLineToolImpl` rather than the expected `WorkflowImpl`.

[2021-01-21 18:55] #28 closed, assigned to nobody

[2021-01-21 19:21] jdidion commented on #29
all fixed now by #38

[2021-01-21 21:55] jdidion commented on #37
This affects all CWL workflow tests (90 by my count). This is not fixed by #38.

[2021-01-22 04:19] #29 closed, assigned to nobody

[2021-02-09 18:47] jdidion opened #40 "NullPointerException"
There are 6 workflow tests that fail with the same exception. Looks to have something to do with parsing the outputSource that refers to a step output.

* [] https://github.com/common-workflow-language/cwl-v1.2/blob/main/tests/count-lines10-wf.cwl
* [] https://github.com/common-workflow-language/cwl-v1.2/blob/main/tests/count-lines14-wf.cwl
* [] https://github.com/common-workflow-language/cwl-v1.2

[2021-02-09 19:10] #37 closed, assigned to nobody

[2021-02-16 17:02] mr-c opened #41 "Add Apache 2.0 license"

[2021-02-23 14:47] #41 closed, assigned to nobody

[2021-03-26 13:30] jdidion opened #43 "CWL version is not set when parsing a packed workflow"

[2021-03-26 13:35] mr-c commented on #43
It is missing from the overall file, or from the entries in the `$graph`?

[2021-03-26 13:36] jdidion commented on #43
it is in the file - just missing from the objects returned from the parser

[2021-03-26 13:37] jdidion commented on #43
this only happens for JSON files of the form

[code]

[2021-08-31 23:19] jdidion commented on #36
The same is true for `$schemas`

[2021-09-08 13:00] mr-c commented on #40
This has been fixed for a while

[2021-09-08 13:00] #40 closed, assigned to nobody

[2021-09-14 04:30] jdidion opened #50 "Workflow with imported schema is not parsable when packed"
This conformance test https://github.com/common-workflow-language/cwl-v1.2/blob/main/tests/schemadef-wf.cwl when packed cannot be parsed:

[code]

[2021-10-01 07:48] mr-c opened #51 "Add helper to upgrade documents to CWL v1.2"
Either calling out to Python to run https://github.com/common-workflow-language/cwl-upgrader/ or by porting that logic to Java code here

[2021-12-06 19:44] jdidion opened #61 "WorkflowStepInput source IDs incorrect when parsing workflow packed with cwlpack"
I used [cwlpack](https://github.com/rabix/sbpack) to pack the conformance test [scatter-wf4](https://github.com/common-workflow-language/cwl-v1.2/blob/1.2.1_proposed/tests/scatter-wf4.cwl). The resulting packed workflow (shown below) validates with `cwltool --validate`. However, when I parse the packed workflow using cwljava, the WorkflowStepInput sources have the form "echo_in1/inp1" when they sh

[2021-12-07 09:57] mr-c commented on #61
On second look, the `cwlpack` output is a bit wonky; can you try again using https://github.com/rabix/sbpack/pull/25 ?

[2021-12-08 00:07] jdidion commented on #61
There is no difference in the packed workflow between `main` and #25

[2021-12-08 07:33] mr-c commented on #61
Without the PR, `cwlpack` adds the following to the top level dictionary, which should only contain `$graph` and `cwlVersion`

[code]

[2021-12-08 14:39] jdidion commented on #61
You're right. It was picking up a different version of cwlpack on my path. It does not fix the cwljava issue though - the step input ID is still being parsed as `echo_in1/inp1`.

[2022-01-05 15:58] mr-c commented on #61
Now that `cwlpack` is fixed, I can confirm that the same error occurs even without `cwlpack` as the original document is already packed. Python codegen doesn't not exhibit this behaviour.

[2022-01-06 15:12] #61 closed, assigned to nobody

[2022-01-06 16:27] mr-c commented on #50
https://github.com/common-workflow-lab/cwljava/blob/13ee0b762465307f4103abad15e1a3b31da73656/src/test/resources/org/w3id/cwl/cwl1_2/utils/valid_packed_schemadef-wf.cwl & https://github.com/common-workflow-lab/cwljava/blob/13ee0b762465307f4103abad15e1a3b31da73656/src/test/java/org/w3id/cwl/cwl1_2/utils/ExamplesTest.java#L4158 shows that this is working now

[2022-01-06 16:27] #50 closed, assigned to nobody

[2022-01-06 16:33] mr-c commented on #43
That is correct, in a way, because `cwlVersion` is not present in the entries in the `$graph`.

How much of a problem is that?

[2022-01-06 16:48] mr-c commented on #36
`$namespaces` are stored in the `private` `loadingOptions_` class member in each cwljava object; can you access that from Scala or do we need to add a public accessor function?

https://github.com/common-workflow-lab/cwljava/blob/13ee0b762465307f4103abad15e1a3b31da73656/src/main/java/org/w3id/cwl/cwl1_2/utils/Loader.java#L29

https://github.com/common-workflow-lab/cwljava/blob/13ee0b762465307f4103

[2022-01-12 21:38] jdidion opened #67 "Embedded process ID is ignored"
I am trying to parse the following workflow, which was generated by `cwlpack --json --add-ids`. The parser ignores the ID of the `wc3-tool` process is ignored and instead substitutes the ID `#count-lines19-wf.cwl/step1/null`.

[code]

[2022-01-12 21:58] jdidion commented on #67
It looks like the problem is that IDs are parsed by UriLoader, which calls LoadingOptions.expandUrl, which mucks with things that have ":" in them. So I think we need to find a different delimiter for the auto-generated IDs.

[2022-01-12 21:58] jdidion commented on #67
Confirm that it works if I replace ':' with ';' in the auto-generated IDs. I'll close this and open an issue in cwlpack.

[2022-01-12 21:58] #67 closed, assigned to mr-c

[2022-01-13 22:47] jdidion opened #70 "Enum types are not parsed correctly"
After packing https://github.com/common-workflow-language/cwl-v1.2/blob/1.2.1_proposed/tests/anon_enum_inside_array_inside_schemadef.cwl using cwlpack and then parsing with cwljava, the enum has symbols like "file:/Users/jdidion/projects/cwlScala/target/test-classes/CommandLineTools/conformance/#anon_enum_inside_array_inside_schemadef.cwl/first/user_type_2/species/homo_sapiens" rather than just "h

[2022-01-14 10:20] mr-c commented on #70
I can confirm this happens for the non-packed version as well https://github.com/common-workflow-lab/cwljava/blob/cwl-1.2.0/src/test/resources/org/w3id/cwl/cwl1_2/utils/valid_anon_enum_inside_array_inside_schemadef.cwl

[2022-01-14 10:30] mr-c commented on #70
The Python version has the same issue, so I'll look into the schema itself next

[code]

[code]

[2022-01-14 11:49] mr-c commented on #70
See https://github.com/common-workflow-language/schema_salad/issues/506 for a deep dive.

The best I really can offer in the short term is to add a helper function in a utility Java class to clean up the symbol names (or you could do so from Scala)

[2022-04-06 20:44] YuxinShi0423 opened #81 "secondaryFiles with pattern cannot be parsed when given in workflow inputs"
When parsing packed cwl which has the `secondaryFiles` given in the workflow inputs raises the error below:
[code]

where the `secondaryFiles` is given in the standard schema:
[code]

However, reformating it as a list of strings would work:
[code]

The issue might result from https://github.com/common-workflow-lab/cwljava/blob/fd2d2bb0652e9d57ecee8c380157cc0f3186d636/src/main/java/org/w3id/cwl/cwl

[2022-04-06 20:45] YuxinShi0423 commented on #81
The test cwl.json
[code]

[2022-04-06 20:46] YuxinShi0423 commented on #81
Please let me know if there is an estimated time for it to be fixed. Thanks!

[2022-04-07 15:21] tetron commented on #81
Hi @YuxinShi0423

The cwljava package is the output of the schema-salad code generator from the CWL specification.

https://github.com/common-workflow-language/schema_salad/blob/main/schema_salad/java_codegen.py

So if there is a bug, it probably would need to be fixed upstream in the code generator, and the cwljava code re-generated.

[2022-04-08 19:28] YuxinShi0423 commented on #81
Thanks! @tetron
I filed a new issue in schema_salad and will close this one.
https://github.com/common-workflow-language/schema_salad/issues/525

[2022-04-08 19:28] #81 closed, assigned to nobody

[2022-04-18 23:07] YuxinShi0423 commented on #70
Hi @mr-c I wonder if the implementation of Enum as string in commit https://github.com/common-workflow-lab/cwljava/commit/8af4104d05fe988c3aff8c3a0ddd67f7e4eba77b should be included in the current cwljava?

The latest cwl-v1.2.0 @61ddfed9f384 will still parse the enum symbols as full URIs as John mentioned. And it seems that it is still using the URI loader.
[code]
gives
[code]
Let me know what I

[2022-04-26 17:45] commandlinegirl commented on #70
Hi @mr-c, is it possible to get an update on this? It'll be greatly appreciated if you can merge the linked fix as it'd unblock us, thanks!

[2022-04-27 15:01] mr-c commented on #70
Hello @YuxinShi0423 and @commandlinegirl

The bulk of cwljava is generated by running `schema-salad-tool --codegen java` (from https://github.com/common-workflow-language/schema_salad/) against the in development version of CWL v1.2.1 at https://github.com/common-workflow-language/cwl-v1.2/blob/1.2.1_proposed/CommonWorkflowLanguage.yml (which is semantically the same as CWL v1.2 but with clarifica

[2022-05-11 21:50] #70 closed, assigned to mr-c

[2022-09-01 09:52] mr-c opened #93 "explore rendering the markdown in the javadocs"
https://maven.apache.org/plugins/maven-javadoc-plugin/examples/alternate-doclet.html + https://github.com/Abnaxos/markdown-doclet

[2022-09-01 10:05] #27 closed, assigned to nobody

[2022-09-08 18:45] MyleneSimon opened #96 "Using this SDK to generate CWL Documents"
Can this SDK be used to generate CWL documents?
We are trying to add a CWL exporter to our project (we have our workflows stored in a custom format) and since we have a Java backend, I was hopping that we could use the classes generated in this SDK to create the documents and then export them in YAML. However I don't see any setters in the generated classes, or constructors that I could use to exp

[2022-09-08 19:29] mr-c commented on #96
Hello @MyleneSimon !

The other SDKs generated using schema-salad support creating and saving, but we didn't get around to adding that to the Java templates yet.

If you are interested in adding that functionality then I can set up a meeting and walk you through the templates.

I'll probably try to enlist @ZimmerA as he implemented those features for the Typescript codegen.

[2022-09-08 21:13] MyleneSimon commented on #96
Hi @mr-c !
I can give it a try. I am looking at the schema-salad repo, it looks like I could get started modifying `java_codegen.py` to add the setters and constructors.
I also see unimplemented `Saveable` interface/class, is that meant to write to file, or something else?

[2022-09-08 21:20] mr-c commented on #96
Great to hear your enthusiasm!

I would look at the Typescript and Python implementations for hints, along with

https://common-workflow-lab.github.io/cwl-ts-auto/

https://cwl-utils.readthedocs.io/en/latest/autoapi/cwl_utils/parser/cwl_v1_2/index.html

https://github.com/common-workflow-language/cwl-utils/blob/main/cwl_utils/parser/cwl_v1_2.py

And https://github.com/common-workflow-language/sche

[2022-10-05 18:57] MyleneSimon commented on #96
Just to give a quick update, I added some minimal changes that add the generation of setters and default constructors, it looks like it is enough in our project to be able to generate CWL documents (which we serialize with Jackson). I will test a bit more and push a PR (hopefully some time next week).

[2022-10-05 22:42] mr-c commented on #96
That's great news @MyleneSimon , thanks for the update!

[2022-11-08 23:40] svonworl opened #103 "parsing CWL v1.0 & v1.1"
Recently, we integrated cwljava v1.0 into Dockstore, and during testing, we found some workflows that cause the parser to throw.  In our webservice, we use our own preprocessor to combine the various component CWL files into one big CWL represented by Maps/Lists, and parse it with cwljava here:
https://github.com/dockstore/dockstore/blob/67f4547e771864cafacdc1c92fa7bd47261e32da/dockstore-webservic

[2022-11-09 00:13] svonworl opened #104 "Partial/lazy parse?"
Hello!  We're integrating cwljava into Dockstore, and occasionally, we need to pluck a few (or less) values out of a CWL: for example, the `id` and `doc` fields (if they exist) from the root workflow.  In these situations, we don't care about the contents of the rest of the CWL and want to be tolerant of errors: the CWL as a whole might not be 100% well-formed, so we don't want to completely parse

[2022-11-09 00:49] svonworl commented on #103
The first workflow exception message and stack trace is >600 lines long, below is an abbreviated version:
[code]
[code]

[2022-11-09 00:53] svonworl commented on #103
The second workflow exception message and stack trace:
[code]

[2022-11-09 10:15] mr-c commented on #103
Hello @svonworl ; `cwljava` is currently only for CWL v1.2; if you'd like to parse CWL v1.1 and CWL v1.0 documents, that will have to be added as separate packages; you'll likely want code to dispatch to the correct loader based upon the `cwlVersion`

https://github.com/ICGC-TCGA-PanCancer/OxoG-Dockstore-Tools/blob/b38a8a4785746b8267913ea5389e21ae6dc921a3/oxog_varbam_annotate_wf.cwl#L3

[2022-11-09 10:16] mr-c commented on #104
Hello @svonworl

The main feature of cwljava to is validate and load into Java objects; if we don't enforce the schema then we can't make objects. Sounds like you'd be better off using a general YAML library to pull out the desired fields. This would probably be faster as well!

[2022-11-09 19:17] denis-yuen commented on #104
Just to clarify, will cwljava gracefully ignore (or is intended to ignore) "extra" content?

I'm thinking of stuff like `sbg:metadata:` http://docs.rabix.io/cwl-draft-2-extensions if they were brought into 1.2
Or the JSON-LD information that can be added to a CWL workflow?
https://sage-workflows.readthedocs.io/en/latest/sharing_discovery/cwl-and-linked-data.html

[2022-11-10 19:07] coverbeck commented on #103
@mr-c, are you planning to add support for 1.1 and 1.0? How much work would it be if we wanted to contribute that support ourselves (I haven't really looked at the codebase)?

[2022-11-10 20:27] mr-c commented on #103
@coverbeck I did a quick stab at CWL v1.1 in https://github.com/common-workflow-language/cwljava/pull/105 (including a bit of documentation)

Would you like to take over the branch and continue with adding CWL v1.0 as well?

[2022-11-10 21:21] coverbeck commented on #103
@mr-c , at this point we're still trying to figure out how/if we want to integrate cwljava with Dockstore. We couldn't commit to any work, at least not yet.

414 files in the PR! :) Presumably most of those are generated? Otherwise it seems like a massive undertaking. :)

[2022-11-10 21:24] mr-c commented on #103
It is almost entirely automated, yes 😅

See https://github.com/common-workflow-language/cwljava/pull/105/files